<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TtcMau</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
      
        

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> profile
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lading">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> lading
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="status-lading">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> status-lading
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shipstatus">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> shipstatus
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="veiligheidschecklist">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> veiligheidschecklist
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register-ship">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> register-ship
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register-terminal">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> register-terminal
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="overview">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> overview
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shipSearch">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> shipSearch
            </NavLink>
        </div>


        
        
        
        
        


    </nav>
</div>
